.photo-grid {
  display: grid;
  margin: auto;
  width: 100%;
  padding: 0 48px 92px;
  grid-template-columns: repeat(auto-fill, minmax(284px, 1fr));
  /*grid-template-rows: minmax(min-content, max-content);*/
  grid-gap: 16px;
  box-sizing: border-box;
}


@media screen and (max-width: 1024px) {
  .photo-grid {
    width: 100%;
    grid-gap: 14px;
  } 
}

@media screen and (max-width: 768px) {
  .photo-grid {
    width: 100%;
    grid-gap: 16px;
    padding: 0 24px 88px;
  }
}

@media screen and (max-width: 320px) {
  .photo-grid {
    width: 100%;
    padding: 0 16px 64px;
    grid-row-gap: 12px;
  }
} 