.place__paragraph {
  font-family: 'Inter';
  font-size: 16px;
  line-height: 163%;
  font-weight: 400;
  margin: 0 16px;
}
.place__paragraph:nth-of-type(2) {
  margin-top: 26px;
}


@media screen and (min-width: 768px) {
  .place__paragraph {
    margin: 0;
  } 
}

/*
@media screen and (max-width: 425px) {
  .place__paragraph {
    font-size: 16px;
    margin: 0 16px;
  } 
}
*/