.intro {
  display: grid;
  grid-template-columns: minmax(min-content, max-content);
  box-sizing: border-box;
  max-width: 984px;
  /*height: 429px;*/
  padding-right: 294px;
  margin: 0 auto;
  outline: red 1px solid;
}

@media screen and (max-width: 1024px) {
  .intro {
    max-width: 928px;
    /*min-height: 429px;*/
    padding-right: 238px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    max-width: 720px;
    /*min-height: 208px;*/
    padding: 0 16px;
  }
}