.cover__title {
  max-width: 560px;
  max-height: 152px;
  font-style: normal;
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
  text-align: center;
  margin: 0;
}

@media screen and (max-width: 320px) {
  .cover__title {
  max-width: 288px;
  max-height: 70px;
  font-style: normal;
  font-size: 32px;
  font-weight: 900;
  line-height: 35px;
  }
}